bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.idea
.DS_Store
env.sh
tags
*~
.bsp/
.conda-env/
.#*
first-clone-setup-fast-log
.bloop/
.metals/
project/.bloop/
project/metals.sbt
project/project/
.ivy2
.sbt
.classpath_cache/
.vscode/
generators/chipyard/src/main/resources/vsrc/my_axi_ip_blackbox.sv
generators/chipyard/src/main/scala/config/SmallBoomMyAxiIPConfig.scala
generators/chipyard/src/main/scala/config/SmallGemminiConfigs.scala
generators/chipyard/src/main/scala/my_axi_ip*
